services:
  petstore-mongo:
    image: "mongo"
    container_name: "petstore-mongo"
    restart: unless-stopped
    command: 
      - '--logpath'
      - '/var/log/mongodb/mongod.log'
    ports:
      - "27017:27017"
    networks:
      - services-network

  petstore-auth:
    build:
      dockerfile: ./Dockerfile
      context: ./auth
    container_name: "petstore-auth"
    ports:
      - "3001:3001"
    networks:
      - services-network
    environment:
      - PORT=3001
      - NODE_ENV=prod
      - TEMPO_EXP=1m

  petstore-monitor:
    build:
      dockerfile: ./Dockerfile
      context: ./monitor
    container_name: "petstore-monitor"
    ports:
      - "3002:3002"
    networks:
      - services-network
    environment:
      - PORT=3002
      - NODE_ENV=prod

  petstore-core:
    build:
      dockerfile: ./Dockerfile
      context: ./core
    container_name: "petstore-core"
    ports:
      - "3000:3000"
    networks:
      - services-network
    depends_on:
      - petstore-auth
      - petstore-mongo
      - petstore-monitor
    environment:
      - PORT=3000
      - NODE_ENV=prod
      - MONGODB_HOST=petstore-mongo
      - MONGODB_PORT=27017
      - MONGODB_DBNAME=petstore-core
      - AUTH_SERVER=http://petstore-auth:3001
      - MONITOR_SERVER=http://petstore-monitor:3002

networks:
  services-network:
    driver: bridge